.header-wrapper {
    position: fixed;
    width: 100%;
    z-index: 998;
    
}

.header {
    background-color:rgb(1, 12, 10);
    
}

.header__row {
    
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: space-between;
}

.logo {
   
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    

}

.header__nav {
    display: flex;
    font-size: 20px; 
   
    
   
}
.header__nav li+li {
  margin-left: 30px;  
  
}

.media_btn {
   margin-top: 9px;
   
  
   
}
.media_btn + * {
    margin-left: 30px;
    
}


.logo_instagram {
    width: 27px;
    color: rgb(255, 255, 255);
    
    
    
    

    
}

.logo_instagram:hover {
    transition: color 0.5s ease;
    color: rgb(71 172 160);
   
}

    

.logo_instagram:active {
    position: relative;
    top: 2px;
    
}


.nav-list {
    display: flex;
    align-items: center;
    
}
.nav-list a{
  transition: color 0.5s ease;
}
.nav-list a:hover{
    color: rgb(71 172 160);
  }
  




.nav-list__link {
    color: rgb(255, 255, 255);
   
}

@media (max-width:920px) {
    .nav-list, .logo_instagram {
    
        display: none;
       
    }

}