:root {
	--index: calc(1.5vw + 1.5vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@media (max-width: 500px) {
	:root {
		--index: calc(2.5vw + 2.5vh);
	}
}


body {
	background-color: rgba(1, 12, 10,);
	font-family: $font-title;
	line-height: 1.55;
}

.container{
	max-width: 1400px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;

}

.none{
	display: none !important;

}

