

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

//fonts
$font-main:'Raleway', sans-serif;
$font-accent:'Playfair Display', serif;
$font-title:'Roboto', sans-serif;

//colors

$accent: rgb(233,222,13);
$white: #fff;